#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# sensitive files - Allowed only for demo purpose
#*.tfvars
#*.tfvars.json

# lock file
**/.terraform.lock.hcl
